.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.report{
  display: flex;
  margin: 25px auto;
  margin-top: 150px;
  height: 100px;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
  -webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.table{
  max-width: 80%;
  margin: 15px auto;
}

 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
